.easyClear:after,
body:after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.easyClear:before,
.easyClear:after,
body:before,
body:after {
    display: table;
    content: "";
}

.easyClear:after,
body:after {
    clear: both;
}

* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    background: linear-gradient(top, rgba(254, 254, 253, 1) 0%, rgba(220, 227, 196, 1) 42%, rgba(174, 191, 118, 1) 100%);
}

body {
    max-width: 48em;
    margin: 0 auto;
    box-shadow: 0 0 20px #000;
    background: linear-gradient(top, rgba(249, 252, 247, 1) 0%, rgba(245, 249, 240, 1) 100%);
}

nav ul, nav li {
    padding: 0;
    margin: 0;
    list-style: none;
}

nav, article {
    float: left;
    width: 20%;
    padding: 0 10px;
}

nav + article {
    width: 80%;
}

article h1 {
    margin-top: 0;
}

footer {
    clear: both;
    background: #999;
    color: #fff;
    padding: 3px 5px;
    font-size: .8em;
    text-align: right;
}

.logo {
    width: 20%;
    max-width: 400px;
}