* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(0%, #fefefd), color-stop(42%, #dce3c4), to(#aebf76));
  background-image: -webkit-linear-gradient(top, #fefefd 0%, #dce3c4 42%, #aebf76 100%);
  background-image: -moz-linear-gradient(top, #fefefd 0%, #dce3c4 42%, #aebf76 100%);
  background-image: -ms-linear-gradient(top, #fefefd 0%, #dce3c4 42%, #aebf76 100%);
  background-image: -o-linear-gradient(top, #fefefd 0%, #dce3c4 42%, #aebf76 100%);
  background-image: linear-gradient(top, #fefefd 0%, #dce3c4 42%, #aebf76 100%);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefd', endColorstr='#aebf76', GradientType=0);
}
body {
  max-width: 48em;
  margin: 0 auto;
  *zoom: 1;
  -webkit-box-shadow: 0 0 20px #000000;
  -moz-box-shadow: 0 0 20px #000000;
  box-shadow: 0 0 20px #000000;
  background-image: -moz-linear-gradient(top, #f9fcf7 0%, #f5f9f0 100%);
  background-image: -ms-linear-gradient(top, #f9fcf7 0%, #f5f9f0 100%);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f9fcf7 0%), to(#f5f9f0 100%));
  background-image: -webkit-linear-gradient(top, #f9fcf7 0%, #f5f9f0 100%);
  background-image: -o-linear-gradient(top, #f9fcf7 0%, #f5f9f0 100%);
  background-image: linear-gradient(top, #f9fcf7 0%, #f5f9f0 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9fcf7 0%', endColorstr='#f5f9f0 100%', GradientType=0);
}
body:before,
body:after {
  display: table;
  content: "";
}
body:after {
  clear: both;
}
nav ul,
nav li {
  padding: 0;
  margin: 0;
  list-style: none;
}
nav,
article {
  float: left;
  width: 20%;
  padding: 0 10px;
}
nav + article {
  width: 80%;
}
article h1 {
  margin-top: 0;
}
footer {
  clear: both;
  background: #999;
  color: #fff;
  padding: 3px 5px;
  font-size: .8em;
  text-align: right;
}
.logo {
  width: 20%;
  max-width: 400px;
}
